@import url(reset.scss);
@import url(global.scss);

.log_out{
  display: inline;
  cursor:pointer;
  text-decoration: underline;
}

.delete{
  display: inline-block;
  text-decoration: underline;
  cursor:pointer;
}

.admin_table{
  width:100%;
}

.admin_table td{
  width:33%;
  border-bottom: 1px solid;
  padding: 10px;
}

.admin_table td.title{
  font-weight: 700;
}

.form_user_add ul li{
  display: inline-block;
  margin-right:10px;
}

.form_user_add input{
  padding: 4px 10px;
}

.error{
  color:red;
  text-align: center;
  margin-top: 20px;
}

.error::first-letter {
  text-transform: capitalize;
}

.fb-login-button{
  margin-top:20px;
}

.dashboard_select select{
  padding: 4px 10px;
}

.dashboard_select{
  display:inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.btn_class{
  display:inline-block;
  padding: 4px 10px;
  background: linear-gradient(to bottom, rgb(244, 244, 244), rgb(223, 223, 223));
  border:1px solid rgb(169, 169, 169);
  cursor:pointer;
}

.selectButtonsStatistics{
  text-align:center;
}

.selectButtonsStatistics div{
  margin:0 20px 20px;
}

.chart{
  border: 1px dotted rgb(169, 169, 169);
  text-align: center;
}

.chart canvas{
  height: 500px !important;
}

/* --- */

.bigTopPanel{
  width:100%;
  border-top: 1px dotted darkgray;
  border-left: 1px dotted darkgray;
  border-right: 1px dotted darkgray;
  text-align:center;
  padding:20px 10px;
  margin-top: 30px;
}

.bigTopPanel li{
  width:25%;
  display:inline-block;
}

/* --- */

.preloader-icon{
  display: inline-block;
  position: relative;
  top: 10px;
  float: right;
}

.selects_top{
  text-align: center;
}

/* --- */

.chartSmall canvas{
  height:400px!important;
}

.statisticBig{
  margin-right:5px;
  font-size:17px;
  font-weight:700;
}

.statisticSmall{
  font-size:13px;
}

.percent_down::before {
  content: '';
  position: relative;
  display:inline-block;
  left: 0;
  bottom: -5px;
  border: 5px solid transparent;
  border-top: 10px solid red;
}

.percent_up::before {
  content: '';
  position: relative;
  display:inline-block;
  left: 0;
  bottom: 0;
  border: 5px solid transparent;
  border-bottom: 10px solid green;
}

/* --- */

.form_login {
  max-width: 350px;
  margin: 0 auto;

  .logo img{
    margin-top:20px;
    width:100%;
  }

  li {
    margin-bottom: 10px;
    text-align: center;
  }

  .li_email {
    margin-top: 40px;
  }

  .li_password {
    margin-top: 10px;
  }

  input {
    padding: 6px 10px;
    font-size: 16px;
    background: #FFFFFF;
  }

  input, .sign_in{
    max-width: 250px;
    width:100%;
  }
}

.sign_in {
  font-size: 16px;
  background: #FFFFFF;
  border: 1px solid #000000;
  color: #000000;
  padding: 10px 30px;
  min-width: 210px;
  font-weight: 700;
  cursor:pointer;
  display:inline-block;
  border-radius:4px;
}

.sign_in:hover{
  background: #000000;
  color: #FFFFFF;
}

/* --- */

.facebook_block{
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* --- */

.dashboard_select select{
  background:#FFFFFF;
  color:#000000;
  font-size: 15px;
  font-weight: 700;
  border: 1px solid #000000;
  padding: 10px 20px;
}

.dashboard_select select option{
  color:#000000;
  font-weight:600;
  background:#FFFFFF;
  display:inline-block;
  font-size:15px;
  line-height:2%;
}

/* --- */

.ads_table {
  border: 1px dotted darkgray;
  width: 100%;
  margin: 20px 0;

  td {
    padding: 10px;
  }

  .t_title td {
    font-weight: 700;
    border-bottom: 1px dotted darkgray;
  }
}