@import url(reset.scss);
@import url(global.scss);

.log_out{
  display: inline;
  cursor:pointer;
  text-decoration: underline;
}

.delete{
  display: inline-block;
  text-decoration: underline;
  cursor:pointer;
}

.admin_table{
  width:100%;
}

.admin_table td{
  width:33%;
  border-bottom: 1px solid;
  padding: 10px;
}

.admin_table td.title{
  font-weight: 700;
}

.form_user_add ul li{
  display: inline-block;
  margin-right:10px;
}

.form_user_add input{
  padding: 4px 10px;
}

.error{
  color:red;
  margin-top:10px;
}

.form_login input{
  padding: 4px 10px;
}

.form_login li{
  margin-bottom:10px;
}

.fb-login-button{
  margin-top:20px;
}

.dashboard_select select{
  padding: 4px 10px;
}

.dashboard_select{
  display:inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.btn_class{
  display:inline-block;
  padding: 4px 10px;
  background: linear-gradient(to bottom, rgb(244, 244, 244), rgb(223, 223, 223));
  border:1px solid rgb(169, 169, 169);
  cursor:pointer;
}

.selectButtonsStatistics{
  text-align:center;
}

.selectButtonsStatistics div{
  margin:0 20px;
}

.chart{
  border: 1px dotted rgb(169, 169, 169);
  text-align: center;
}

.chart canvas{
  /* padding: 10px; */
}

/* --- */

.bigTopPanel{
  width:100%;
  border-top: 1px dotted darkgray;
  border-left: 1px dotted darkgray;
  border-right: 1px dotted darkgray;
  text-align:center;
  padding:20px 10px;
}

.bigTopPanel li{
  width:25%;
  display:inline-block;
}

/* --- */

.preloader-icon{
  display: inline-block;
  position: relative;
  top: 10px;
  float: right;
}